{% extends 'base.html.twig' %}

{% block title %}connexion{% endblock %}

{% block body %}

    <div class="container-fluid text-center pt-5 pb-5" style="background-color: #01C5C4;">
        <h1>Connexion</h1>
    </div>

    <main class="container-fluid p-5 containeur-main-login">

        {# <h1 class="col-12 text-center my-3">Connexion</h1> #}

        <form method="post" class="col-4 offset-4 form-login">

            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {# {% if app.user %}
                <div class="mb-3">
                    Vous êtes connecté en tant que {{ app.user.username }}, <a href="{{ path('app_logout') }}">déconnexion</a>
                </div>
            {% endif %} #}

            <div class="input-login">
                <label for="inputEmail">Email</label>
                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
            </div>

            <div class="my-2 input-login">
                <label for="inputPassword">Password</label>
                <input type="password" name="password" id="inputPassword" class="form-control" required>
            </div>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            {#
                Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                See https://symfony.com/doc/current/security/remember_me.html
            #}
            {# <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" name="_remember_me" class="mr-2">Se souvenir de moi
                </label>
            </div> #}

            <div class="text-right">
                <a href="{{ path('home') }}" class="mr-3" style="color: #F39233">Retour à la page d'accueil</a>
                <button class="btn my-3" type="submit" style="background-color: #01C5C4">Connexion</button>
            </div>

        </form>

    </main>

{% endblock %}
