{% extends 'base.html.twig' %}


{% block title %}Inscrivez-vous et louer votre Camping-car{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <div class="container-fluid text-center pt-5 pb-5" style="background-color: #01C5C4;">
        <h1>Inscription</h1>
    </div>

 <main class="container-fluid p-5 main-inscription">
    <div class="col-5 offset-3 principal-register">
        <div class="my-3 text-p-main">
            <p style="text-align:center">Rejoignez une grande communauté partout en France en 1 clic</p>
        </div>

        <form method="post" class="col-10 offset-3">
        {{ form_start(registrationForm) }}
            <div>
                {{ form_row(registrationForm.civilite) }}
            </div>
            <div>
                {{ form_row(registrationForm.prenom) }}
            </div>
            <div>
                {{ form_row(registrationForm.nom) }}
            </div>
            <div>
                {{ form_row(registrationForm.date_naissance) }}
            </div>   
            <div>
                {{ form_row(registrationForm.email) }}
            </div>
            <div>
                {{ form_row(registrationForm.plainPassword) }}
            </div>
            <div>
                {{ form_row(registrationForm.tel) }}
            </div>
            <div>
                {{ form_row(registrationForm.img1) }}
            </div>
            <div>
                {{ form_row(registrationForm.adresse) }}
            </div>
            <div>
                {{ form_row(registrationForm.code_postal) }}
            </div>
            <div>
                {{ form_row(registrationForm.ville) }}
            </div>
            <div>
                <a href="cgu">{{ form_row(registrationForm.agreeTerms) }}</a>
            </div>
            <div class="my-3 largeur-form">
            <button type="submit" class="btn btn-dark text-dark font-weight-bold my-3 submit-register" style="background-color: #B8DE6F">Je valide mon inscription !</button>
            {{ form_end(registrationForm) }}
            </div> 
        {{ form_end(registrationForm) }}
                <a href="{{ path('home') }}" class="btn btn-danger">Annuler</a>
        </form>
    </div>
</main>
{% endblock %}
