{% extends 'base.html.twig' %}

{% block title %}Vehicules{% endblock %}

{% block body %}

    <div class="container-fluid p-5 text-center" style="background-color: #01C5C4;">
        <h1>Location camping-cars et van</h1>
    </div>

    <main class="row row-cols-1 row-cols-md-1 g-4 main-vehicules">
        <div class="col">
            <div class="card h-100">
                <div>   
                {% for vehicule in vehicules %}
                    <img src="{{ asset('img/vehicule/' ~ vehicule.img1) }}" alt="photo principale" {{ vehicule.marque }} class="card-img-top">
                    <div class="card-body">
                        <h2 class="card-title">{{ vehicule.marque }}
                        </h2>
                        <p class="card-title">{{ vehicule.modele }}
                        </p>
                        <ul>
                            <li class="card-text">Type de véhicule : {{ vehicule.typeVehicule }}</li>
                            <li class="card-text">Nombre de places : {{ vehicule.nombrePlace }}</li>
                            <li class="card-text">Prix : {{ vehicule.prix|number_format(0, ',', ' ')}} €</li>
                        </ul>
                    </div>
                    <div class="card-body text-center">
                        <a href="{{ path('vehicule', {'id':vehicule.id}) }}" class="btn btn-outline-secondary">Voir plus</a>
                    </div>
                {% endfor %}
            </div>
        </div>
            <div class="conteneurBouton">
                <a href="{{ path('home') }}" class="boutonRetour">Retour à la page d'accueil</a>
            </div>
    </main>
   

{% endblock %}