{% extends 'base.html.twig' %}

{% block title %}véhicule{% endblock %}

{% block body %}

    <div class="container-fluid p-5 text-center" style="background-color: #01C5C4;">
        <h1>{{ vehicule.marque }} - {{ vehicule.modele }}</h1>
    </div>

    <main class="container-fluid ">
        <div class="row p-5 card mb-3">
            <div class="col-8 offset-2">
                <img src="{{ asset('img/vehicule/' ~ vehicule.img1) }}" alt="photo principale {{ vehicule.marque }}" class="w-100 card-img-top">
                <div class="card-body">
                    <h2 class="py-3 card-title">{{ vehicule.marque }}</h2>
                    <p class="card-title">{{ vehicule.modele }}</p>
                    <ul class="list-group list-group-flush"> 
                        <li class="list-group-item">Type de véhicule : {{ vehicule.typeVehicule }}</li>
                        <li class="list-group-item">Prix : {{ vehicule.prix|number_format(0, ',', ' ')}} €</li>
                        <li class="list-group-item">Disponibilité : {{ vehicule.disponibilite }}</li>
                        <li class="list-group-item">Nombre de places : {{ vehicule.nombrePlace }}</li>
                        {# <li class="list-group-item">Immatriculation : {{ vehicule.immatriculation }}</li> #}
                        <li class="list-group-item">Couleur : {{ vehicule.couleur }} </li>
                        <li class="list-group-item">carburant : {{ vehicule.carburant }}</li>
                    </ul>
                </div>
            </div>
            {% if vehicule.img2 is not null %}
                <div class="col-8 offset-2">
                    <h2 class="py-3 card-title">Autres photos</h2>
                    <img src="{{ asset('img/vehicule/' ~ vehicule.img2) }}" alt="photo principale {{ vehicule.marque }}" class="w-50 card-img-bottom">
                </div>
            {% endif %}
        </div>

        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <div class="contact-vehicules">
                <button type="button" class="btn btn-success">CONTACTER LE PROPRIETAIRE</button>
                <p>Nom : {{ vehicule.user.nom }} </p>
                <p>Numéro de téléphone : {{ vehicule.user.tel }} </p>
                <p>Email : {{ vehicule.user.email }} </p>
            </div>
        {% else %}
            <div class="button-connection-proprio">
                <a href="{{ path('app_login') }}" type="button" class="btn btn-success">Se connecter pour contacter le propriétaire</a>
            </div>
        {% endif %}


        <div class="text-right">
            <a href="{{ path('home') }}" type="button" class="btn btn-info">Retour à la page d'accueil</a>
        </div>
    </main>

{% endblock %}