{% extends 'base.html.twig' %}

{% block title %}vehicule{% endblock %}

{% block body %}

    <header class="container-fluid p-5 text-center bg-light">
        <h1>HORIZA - liste des véhicules</h1>
    </header>

    <main class="container-fluid">
        {% for vehicule in vehicules %}
            <div class="row p-5">
                <div class="col-8 offset-2">
                    <img src="{{ asset('img/vehicule/' ~ vehicule.img1) }}" alt="photo principale {{ vehicule.marque }}" class="w-100">
                    <h2 class="py-3">{{ vehicule.marque }}</h2>
                    <p>{{ vehicule.modele }}</p>
                    <ul>
                        <li>Nombre de places : {{ vehicule.nombrePlace }}</li>
                        <li>Couleur : {{ vehicule.couleur }} </li>
                        <li>Prix : {{ vehicule.prix|number_format(0, ',', ' ')}} €</li>
                    </ul>
                </div>
            </div>
            <div class="card-body text-center">
                <a href="{{ path('vehicule', {'id':vehicule.id}) }}" class="btn btn-outline-secondary">Voir plus</a>
            </div>
        {% endfor %}
        
        <a href="{{ path('home') }}" type="button" class="btn btn-info">Retour à la page d'accueil</a>
    </main>

{% endblock %}