
{% extends 'baseAdmin.html.twig' %}

{% block title %}Hello VehiculeController!{% endblock %}

{% block body %}

<div>

    <h1 class="pb-5">Liste des véhicules</h1>

    <table class="table table-bordered table-dark text-center table-hover table-sm">
        <thead>
            <tr>
                <th>N°</th>
                <th>Type de véhicule</th>
                <th>Marque</th>
                <th>Modèle</th>
                <th>Immatriculation</th>
                <th>Carburant</th>
                <th>Nombre de places</th>
                <th>Couleur</th>
                <th>Image 1</th>
                <th>Prix</th>
                <th>Disponibilité</th>
                <th>Modifier ce véhicule</th>
                <th>Supprimer ce véhicule</th>
            </tr>
        </thead>
        <tbody>
            {% for vehicule in vehicules|reverse %}
                <tr>
                    <td class="align-middle">{{ loop.revindex }}</td>
                    <td class="align-middle">{{ vehicule.typeVehicule }}</td>
                    <td class="align-middle">{{ vehicule.marque }}</td>
                    <td class="align-middle">{{ vehicule.modele }}</td>
                    <td class="align-middle">{{ vehicule.immatriculation }}</td>
                    <td class="align-middle">{{ vehicule.carburant }}</td>
                    <td class="align-middle">{{ vehicule.nombrePlace }}</td>
                    <td class="align-middle">{{ vehicule.couleur }}</td>
                    <td class="align-middle"><img src="{{ asset('img/vehicule/') ~ vehicule.img1 }}" alt="photo principale vehicule {{ loop.index }}"></td>
                    <td class="align-middle">{{ vehicule.prix|number_format(0, ',', ' ') }}</td>
                    <td class="align-middle">{{ vehicule.disponibilite }}</td>
                    <td class="align-middle">
                        <a href="{{ path('admin_vehicules_update', {'id':vehicule.id}) }}"><i class="fas fa-pen-square"></i></a>
                    </td>
                    <td class="align-middle">
                        <a href="{{ path('admin_vehicules_delete', {'id':vehicule.id}) }}"><i class="fas fa-trash-alt"></i></a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    
    <div class="text-right my-5">
        <a href="{{ path('admin_vehicules_create') }}" class="btn btn-outline-dark">Ajouter un véhicule</a>
    </div>

</div>

{% endblock %}