<p>
    <b>Coordonnées du contact</b>
    <ul>
        <li>Nom : {{ nom|upper }} {{ prenom }}</li>
        <li>Email : {{ email }}</li>
    </ul>
</p>

<p><b>Objet : </b>{{ objet }}</p>

<p><b>Message :</b></p>
<p>{{ message|nl2br }}</p>