<!DOCTYPE html>

<html>

    <head>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="Horiza Network">
        <meta name="description" content="Site de locations de camping-car et van en france">

        <title>Horiza - Espace administrateur - {% block title %}{% endblock %}</title>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
        <link rel="stylesheet" href="{{ asset('css/styleAdmin.css') }}">
        <link rel="icon" type="img/png" href="{{ asset('img/logo.png') }}" />

        {% block stylesheets %}{% endblock %}

    </head>

    <body>

        <header class="container-fluid text-center text-light p-3" style="background-color: #01C5C4;">
            <h2>Horiza - Espace Administrateur</h2>
        </header>

        <main class="container-fluid">
            <div class="row">
                <nav class="col-1" style="background-color: #B8DE6F;">
                    <ul>
                            <a href="{{ path('admin') }}" title="accueil administrateur"><li><i class="fas fa-laptop"></i></li></a>
                            <a href="{{ path('admin_vehicules') }}" title="vehicules"><li><i class="fas fa-shuttle-van"></i></li></a>
                            <a href="{{ path('admin_users') }}" title="utilisateurs"><li><i class="fas fa-users"></i></li></a>
                            <a href="{{ path('app_login') }}" title="déconnexion"><li><i class="fas fa-user-times"></i></li></a>
                            <a href="{{ path('home') }}" title="accueil du site"><li><i class="fas fa-door-open"></i></li></a>
                    </ul>
                </nav>
                <div class="col-11 p-5">
                    {# {% for label, messages in app.flashes %}
                        {% for message in messages %}
                            <div class="flash-{{ label }} bg-{{ label }} text-light p-3 mb-5 rounded">{{ message }}</div>
                        {% endfor %}
                    {% endfor %} #}
                    {% block body %}{% endblock %}
                </div>
            </div>
        </main>

        <footer class="container-fluid text-light text-center">
            {# <p>{{ copyright }}</p> #}
        </footer>

        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.js"></script>
        <script>
            $(document).ready(function(){
                bsCustomFileInput.init()
            })
        </script>

        {% block javascripts %}{% endblock %}

    </body>

</html>
