<!DOCTYPE html>

<html>

    <head>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="Horiza Network">
        <meta name="description" content="Site Horiza">

        <title>Horiza - {% block title %}{% endblock %}</title>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        <link rel="stylesheet" href="{{ asset('css/styleRegister.css') }}">
        <link rel="stylesheet" href="{{ asset('css/styleContact.css') }}">
        <link rel="stylesheet" href="{{ asset('css/styleVehicules.css') }}">
        <link rel="stylesheet" href="{{ asset('css/styleAnnexe.css') }}">
        <link rel="icon" type="img/png" href="{{ asset('img/logo.png') }}" />
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet"> 

        {% block stylesheets %}{% endblock %}

    </head>

    <header>
        <div class="pos-f-t">
            <nav class="navbar navbar-expand-md navbar-dark">
                    <a href="{{ path('home') }}" class="liens-a"><img src="https://cdn.discordapp.com/attachments/811996014566572055/827465660284010516/horiza-logo-2.png" alt="Logo" class="logo"/></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                <div class="collapse navbar-collapse justify-content-between" id="nav">
                        <ul class="navbar-bar text-decoration-none" style="display: contents">
                            <li class="nav-item">
                                <a href="{{ path('vehicules') }}" class="nav-link text-dark a-menu mr-3"><i class="fas fa-handshake"></i>Louer un véhicule</a>
                            </li>
                            <li class="nav-item">
                                <a href="{{ path('annonce_create') }}" class="nav-link text-dark a-menu mr-3"><i class="fas fa-pen-alt"></i> Déposer une annonce</a>
                            </li>
                            {% if app.user %}
                                <li class="nav-item">
                                    <a href="{{ path('annonce') }}" class="nav-link text-dark a-menu mr-3"><i class="fas fa-list"></i> Gérer mes annonces</a>
                                </li>
                                <li class="nav-item">
                                    <a href="{{ path('profil', {'id':app.user.id}) }}" class="nav-link text-dark a-menu mr-3"><i class="fas fa-user"></i> Mon compte</a>
                                </li>
                                <li class="nav-item">
                                    <a href="{{ path('app_logout') }}" class="nav-link text-dark a-menu mr-3">Se déconnecter</a>
                                </li>
                            {% else %}
                                <li class="nav-item">
                                    <a href="{{ path('app_register') }}" class="nav-link text-dark a-menu mr-3">S'inscrire</a>
                                </li>
                                <li class="nav-item">
                                    <a href="{{ path('app_login') }}" class="nav-link text-dark a-menu mr-3">Se connecter</a>
                                </li>
                            {% endif %}

                        </ul>    
                    </div>
            </nav>
          </div>
    </header>

        {% block body %}{% endblock %}

  
        

        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.js"></script>
        <script src="https://kit.fontawesome.com/36a2677ed6.js" crossorigin="anonymous"></script>

        {% block javascripts %}{% endblock %}

    <footer class="footer-bottom w-100" style="background-color: #01C5C4;">

        <div class="mpca">
            <a href="mentions"><p class="text-white ml-2">Mentions Légales</p></a>
            <a href="politique"><p class="text-white ml-2">Politique de confidentialité</p></a>
            <a href="cgu"><p class="text-white ml-2">CGU - CGV</p></a>
            <a href="about"><p class="text-white ml-2">À propos de nous</p></a>
        </div>

        <div>
            <p class="text-white" style="margin-left: 29rem;margin-top: 7rem;">© 2021 Copyright Horiza</p>
        </div>

        <div class="contact">
            <a href="contact"><p class="text-white ml-2">Contactez-nous</p></a>
            <a href="https://twitter.com/" class="reseaux" target="_blank"><i class="fab fa-twitter text-white"></i></a>
            <a href="https://instagram.com/" class="reseaux" target="_blank"><i class="fab fa-instagram text-white"></i></a>
            <a href="https://facebook.com/" class="reseaux" target="_blank"><i class="fab fa-facebook-f text-white"></i></a>
        </div> 

    </footer>

</html>
